.-overlay-container {
    --main-background: red;
    --secondary-background: violet;
    --translate-x-overlay: 0;
    --translate-x: 0;
    --translate-x-reverse: 0;
    --skew: 0;
    --skew-reverse: 0;

    min-height: 100%;
    left: 0;
    position: fixed;
    top: -100%;
}

.-overlay-slide-skew {
    background: var(--secondary-background);
    height: 100%;
    left: -35vw;
    overflow: hidden;
    position: absolute;
    top: 0;
    transform: translateX(var(--translate-x)) skew(var(--skew));
    transition: transform .5s ease-out;
    width: 170vw;
}

.-overlay-bg-screen {
    background: var(--main-background);;
    left: 0;
    min-height: 100%;
    position: absolute;
    top: 0;
    transform: translateX(var(--translate-x-overlay));
    transition: transform 1s ease-in-out;
    width: 100%;
}

.-overlay-reverse-skew {
    display: flex;
    justify-content: center;
    min-height: 100%;
    transform: skew(var(--skew-reverse));
    width: 100%;
}

.-overlay-reverse-slide {
    min-height: 100%;
    transform: translateX(var(--translate-x-reverse));
    transition: transform .5s ease-out;
    width: 100vw;
}