.-overlay-container {
    --main-background: red;
    --secondary-background: violet;

    --translate-x-overlay: 0;

    --translate-x: 0;
    --translate-x-reverse: 0;

    --scew: 0;
    --scew-reverse: 0;



    min-height: 100%;
    left: 0;
    position: fixed;
    top: 0;
}

.-overlay-slide-skew {
    background: var(--secondary-background);
    height: 100%;
    left: -35vw;
    top: 0;
    overflow: hidden;
    position: absolute;
    transform: translateX(var(--translate-x)) skew(20deg);
    transition: transform .5s ease-out;
    width: 170vw;
}

.-overlay-slide-2 {
    background: var(--main-background);;
    width: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(var(--translate-x-overlay));
    transition: transform 1s ease-in-out;
}

.-overlay-reverse-skew {
    display: flex;
    min-height: 100%;
    width: 100%;
    justify-content: center;
    transform: skew(-20deg);

}

.-overlay-reverse-slide {
    min-height: 100%;
    width: 100vw;
    transform: translateX(var(--translate-x-reverse));
    transition: transform .5s ease-out;
}